<p id="notice"><%= notice %></p>

<h1>Your Search Results:</h1>

    <% @users.each do |user| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
  <strong>Firstname:</strong>
  <%= user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= user.lastname %>
</p>

<p>
  <strong>Username:</strong>
  <%= user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= user.email %>
</p>
            <div class="btn-group pull-right" role="group">
              <%= link_to 'Show', user, class: "btn btn-default" %>
            </div>
            <div class="btn-group pull-right" role="group">
              <%= link_to 'Add To Group', new_user_user_group_path(user), class: "btn btn-default" %>
            </div>
            
          </div>
        </div>
    <% end %>
<br>